@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli);
html {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}
input::placeholder {
  color: #bdbdbd;
}
*:focus {
  outline: none;
}
input[type="text"] {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background: none;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;

  color: #bdbdbd;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(2, 2, 2, 0.555);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  margin-top: 46px;
  margin-left: 77px;
  margin-right: 96px;
  display: grid;
  grid-template-columns: 92px auto 316px;
}

.filterMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background: #ffffff;
  z-index: 200;
}
.filterContainer {
  display: grid;
  grid-template-columns: 460px 426px 395px;
  grid-template-rows: 55px 143px;
  grid-row-gap: 20px;
  margin-top: 46px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.filterSearch {
  display: grid;
  grid-template-columns: 460px 426px 395px;
  margin-left: 70px;
  margin-right: 96px;
  width: 1248px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  grid-column: 1 / span 3;
}

.locationList {
  grid-row: 2;
  grid-column: 1;
  margin-left: 93px;
}

.guestSection {
  grid-row: 2;
  grid-column: 2;
  margin-left: 99px;
}

.listLayout div {
  display: flex;
  align-items: center;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height */
  color: #4f4f4f;
  cursor: pointer;
}
.guestSection div h4 {
  margin-bottom: -15px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  color: #000000;
}
.guestSection div p {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #bdbdbd;
}
.counter {
  margin-top: -15px;
  display: flex;
  align-items: center;
}

.counter button {
  width: 23px;
  height: 23px;
  background-color: white;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}
.counter h5 {
  margin-left: 15px;
  margin-right: 15px;

  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
}

.outline {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
}
.filterLocation {
  width: 460px;
  height: 55px;
}
.locationTitle {
  margin-top: 12px;
  margin-left: 26px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  text-transform: uppercase;

  color: #333333;
}
.locationPlaceHolder {
  /* margin-top: 4px; */
  margin-left: 23px;
  color: #bdbdbd;
}
.filterGuests {
  width: 426px;
  height: 55px;

  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.guestTitle {
  margin-top: 12px;
  margin-left: 32px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  text-transform: uppercase;

  color: #333333;
}

.guestPlaceHolder {
  margin-left: 30px;
}

.filterSearchButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 3px;
  width: 126px;
  height: 48px;
  display: grid;
  grid-template-columns: 45px 81px;

  background: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
}

.filtersSearchText {
  grid-column: 2;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  margin-left: 11px;
  margin-top: 16px;
  margin-bottom: 14px;

  color: #f2f2f2;
}

.filtersIcon {
  grid-column: 1;
  width: 17px;
  height: 17px;
  color: #f2f2f2;
  margin-left: 27px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  grid-column: 1;
  margin-top: 14px;
}
.search {
  grid-column: 3;
  width: 297px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 138px 106px 53px;
}
.hovered {
  cursor: pointer;
}

.location {
  margin-left: 16px;
  margin-top: 19px;
  margin-bottom: 18px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
}
.guest-border {
  height: 55px;
  width: 106px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.guest-box {
  margin-left: 16px;
  margin-top: 19px;
  margin-bottom: 18px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #bdbdbd;
}

.searchIcon {
  width: 17px;
  height: 17px;
  color: rgba(235, 87, 87, 0.9);
  margin-left: 16px;
  margin-top: 17px;
  margin-bottom: 19px;
}

.header {
  margin-left: 77px;
  margin-right: 96px;
  display: grid;
  grid-template-columns: 250px auto 100px;
  padding-bottom: 12px;
}

.searchTerm {
  grid-column: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.stayCount {
  grid-column: 3;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  /* identical to box height */
  vertical-align: middle;

  color: #4f4f4f;
}

.mainCards {
  margin-left: 77px;
  margin-right: 96px;
  display: grid;
  grid-template-columns: 395px 395px 395px;
  grid-column-gap: 32px;
  grid-row-gap: 42px;
}
.card {
  display: grid;
  grid-template-columns: 125px 210px 60px;
  grid-template-rows: 300px 30px 40px;
  grid-auto-flow: row;
}

.photo {
  width: 395px;
  height: 269px;
  height: 100%;
  border-radius: 24px;
  grid-column: 1/3;
}

.none {
  display: none;
}

.host {
  margin-top: 10px;
  grid-column: 1;
  width: 100px;
  height: 28px;

  border: 1px solid #4f4f4f;
  border-radius: 12px;
  background-color: white;
  /* Super host */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  color: #4f4f4f;
}

.typeSuper {
  grid-column: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
.type {
  grid-column: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.rating {
  grid-row: 2;
  grid-column: 3;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
  vertical-align: middle;
}
.star {
  vertical-align: middle;
  color: rgba(235, 87, 87, 0.72);
}

.title {
  grid-row: 3;
  grid-column: 1 / span 3;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
